{% extends "::base.html.twig" %}

{% block body %}

    {% if created == 1 %}

        <h4>Utworzono nową książkę, pod numerem (id): {{ created }}</h4>
    {% endif %}
    <p><strong>Numer katalogowy:</strong> {{ id }}</p>
    <p><strong>Tytuł:</strong> {{ title }}</p>
    <p><strong>Opis:</strong> {{ desc }}</p>
    <p><strong>Ocena:</strong> {{ rating }}</p>

{% endblock %}