<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block titleSite %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {#TODO: Inline is WRONG! CHANGE IT!!#}
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
        }

        li a {
            display: inline-block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color: #111;
        }

        .active {
            background-color: darkcyan;
        }
    </style>
</head>
<body>
<h1>{% block title %}Tytuł{% endblock %}</h1>

<header>
    <h2>Menu - path()</h2>
    <nav>
        <ul>
            <li>
                <a href="{{ path('renderApp') }}">renderApp</a>
            </li>
            <li>
                <a href="{{ path('renderSrc')}}">renderSrc</a>
            </li>
            <li>
                <a href="{{ path('renderUsername',{'username':'Adolf'})}}">renderUsername</a>
            </li>
            <li>
                <a href="{{ path('repeatSentence',{'n':4, 'sentc':'Przybywam z otchłani menu...'}) }}">repeatSentence</a>
            </li>
            <li>
                <a href="{{ path('createRandoms', {'start':2,'end':32,'n':16})}}">createRandoms</a>
            </li>
            <li>
                <a href="{{ path('allArticles' )}}">AllArticles</a>
            </li>
            <li>
                <a href="{{ path('showArticle',{'id':random(19)} ) }}">randomArticle</a>
            </li>
            <li></li>
        </ul>
    </nav>
</header>


<header>
    <h2>Menu - url()</h2>
    <nav>
        <ul>
            <li>
                <a href="{{ url('renderApp') }}">renderApp</a>
            </li>
            <li>
                <a href="{{ url('renderSrc')}}">renderSrc</a>
            </li>
            <li>
                <a href="{{ url('renderUsername',{'username':'Adolf'})}}">renderUsername</a>
            </li>
            <li>
                <a href="{{ url('repeatSentence',{'n':4, 'sentc':'Przybywam z otchłani menu...'}) }}">repeatSentence</a>
            </li>
            <li>
                <a href="{{ url('createRandoms', {'start':2,'end':32,'n':16})}}">createRandoms</a>
            </li>
            <li>
                <a href="{{ url('allArticles' )}}">AllArticles</a>
            </li>
            <li>
                <a href="{{ url('showArticle',{'id':random(19)} ) }}">move_to_randomArticle</a>
            </li>
            <li></li>
        </ul>
    </nav>
</header>

<div>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</div>
</body>
</html>

