{% extends "::base.html.twig" %}

{% block titleSite %}
    {{ app.request.attributes.get("_controller")}}
{% endblock %}
{% block title %} Widok dla ex b3 {% endblock %}

{% block body %}

    {% if n matches '/^\\d+$/' %}

        <h4> Przekazano: {{ n }} / {{ sentc }} </h4>

        {% if sentc == null %}

            {% for n in 1..n %}

                <h4> {{ n }}. Symfony jest fajne</h4>

            {% endfor %}
        {% else %}

            {% for n in 1..n %}

                <h4>{{ n }}. {{ sentc }}</h4>

            {% endfor %}

        {% endif %}

    {% else %}

        <h4> Przekazana zmienna musi być cyfrą</h4>

    {% endif %}

{% endblock %}

